.jsf {
    @import (less) url( 'bootstrap100col.css' );
}

.jsf-control-autocomplete
{
    position: absolute; cursor: default; background:#e9e9e9;
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
}

.jsf-control-autocomplete li {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}