@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
body {
    background: url('../images/gplaypattern.png');
}
.container {
    background-color: #ffffff;
    padding-left: 5em;
    padding-right: 5em;
    border-right: solid #3498db 2px;
    border-left: solid #3498db 2px;
}
.container .jumbotron {
    border-radius: 0;
}
.panel-title {
    color: #3498db;
    font-size: 2em;
    /*background-color: #3a539b;*/
}
.panel-primary > .panel-heading {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}
.panel-body {
    padding-top: 0;
    color: black;
    /*background-color: rgba(44, 62, 80, 0.79);*/
    font-size: 1.2em;
}
.jumbotron {
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.3em;
    padding: 0.5em;
}
#demo-body {
    padding: 1em;
    border: 1px solid #c1d1d2;
    border-radius: 4px;
    background-color: white;
}
h1 {
    font-weight: bold;
    font-size: 2em;
}
ul {
    list-style: square outside none;
}
.top-buffer {
    margin-top:20px;
}
.top-buffer-s {
    margin-top:10px;
}
.right-buffer {
    margin-right:20px;
}
.move-right {
    padding-left: 87%;
}
.left-buffer {
	margin-left:20px;
}
.bottom-buffer {
    margin-bottom:20px;
}
.bottom-buffer-s {
    margin-bottom:10px;
}
.debug {
    background: LightGray;
}
.rounded {
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.error {
    background: Red;
}

.fill {
	width: 100%;
}

.btn {
     border-radius: 0px;
 }

.bootstrap-qbwrapper .btn {
    border-radius: 0px;
}

.bootstrap-qbwrapper .form-control{
    border-radius: 0px;
}

.radio-inline, .checkbox{
    padding-top: 9px;
 }

fieldset.inline {
  display: inline-block;
}

fieldset.inline2 {
  float: left;
}

.normal-margin-left{
  margin-left: 0px;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }
}

#localModelEditor {
    max-width: 100%;
    min-height: 300px;
}
#localViewEditor {
    max-width: 100%;
    min-height: 300px;
}
#title:link {
    color: #000;
    text-decoration: none;
}
#title:visited {
    color: #000;
    text-decoration: none;
}
#title:hover {
    color: #000;
    text-decoration: none;
}
#title:active {
    color: #000;
    text-decoration: none;
}
