.tutorial-image{
    max-width: 100vw;
}
.lg-media {
    min-width: 128px;
    min-height: 128px;
    color: rgba(00,77,145,1);
    margin-left: 24px;
}
.card {
    border-width: : 3px ;
    border-style: solid;
    border-color: #004d91;
    border-image: linear-gradient(to bottom, #e9f3fa, #004d91);
    border-image-slice: 1;
    text-align: center;
}
.is-visible {
    display: block!important;
}
.l-pinned-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.l-offset-nav {
    padding-top: 80px;
}
.l-offset-docs-nav {
    padding-left: 260px;
}
.l-pinned-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.icon-arrow-drop-down:before {
	content: "\25bc";
}

fieldset{
    border-style:none;
}
body{
    font-family: 'Merriweather',serif;
}
.main-nav{
    line-height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}
button.main-nav-button{
	display: none;
}
.logo{
    font-size: 30px;
    text-decoration: none;
    height: 80px;
    padding-left: 10px;
    color: #fff;
}
.logo:hover{
    background-color: #005db0;
    text-decoration: none;
    color: #fff;
}
.innerlogo{
    padding-left: 110px;
    position: relative;
    font-family: 'Roboto',sans-serif;
}
.innerlogo:after{
    background-image: url("../images/jsonforms-logo-white.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 90px 60px;
    content: '';
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.primary-menu{
    list-style:none;
    margin: 0;
    padding: 0;
}
.primary-menu-link{
}
.primary-menu-link a{
    display: flex;
    align-items: center;
    /*justify-content:center;*/
    text-decoration:none;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
}
.primary-menu-link a:hover{
    background-color: #005db0;
    text-decoration: none;
    color: #fff;
}
#github{
    background-image: url("../images/extern/GitHub-Mark-Light-64px.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 64px 64px;
    width: 74px;
    height: 80px;
}
/*
#github:hover{
    background-image: url("../images/extern/GitHub-Mark-64px.png");
}
*/
#github>span{
    display: block;
    height: 0;
    width: 0;
	overflow: hidden;
}
#twitter{
    background-image: url("../images/extern/TwitterLogo_white.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 64px 64px;
    width: 74px;
    height: 80px;
}
/*
#twitter:hover{
    background-image: url("../images/extern/TwitterLogo.png");
}
*/
#twitter>span{
    display: block;
    height: 0;
    width: 0;
	overflow: hidden;
}
.jsonforms{
    background-image: url("../images/gplaypattern.png");
    background-repeat: repeat;
    height: 400px;
    width: 100%;
}
.jsonforms .md-button {
    font-weight: 700;
}
.mainLogo{
    width:640px;
    padding-top: 125px;
    margin: 10px auto;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}
.mainLogo:after{
    background-image: url("../images/jsonforms-logo.png");
    background-position: top center;
    background-repeat: no-repeat;
    content: '';
    height: 125px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.card-title{
    font-weight: bold;
    color:#3498db;
}
.card-content{
    font-size: 20px;
}
.additional{
    font-size: 20px;
}
footer{
    background-color: #003d72;
    color: #fff;
    padding-right: 20px;
    height:80px;
    font-size: 15px;
}
footer a:hover{
    background-color: #005db0;
}
.docs-nav{
    background-color: #c5ccd3;
    width: 250px;
}
.docs-nav-header{
    background-color: #b6c0c8;
    position: relative;
    height:48px;
    display: none;
    border-bottom: #a8b3bd 1px solid;
}
.docs-menu{
    list-style:none;
    margin: 0;
    padding: 0;
}
.docs-menu-link {
    border-bottom: #b6c0c8 1px solid;
}
.docs-menu-link a{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    text-decoration:none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
    color:#4d5a66;
}
.docs-menu .is-selected a{
    color: #004d91;
}
.docs-menu-link a:hover{
    background-color: #b6c0c8;
}
button.docs-nav-button{
    color: #fff;
    position: absolute;
    right: 8px;
	display: none;
}
.docs-content{
    max-width: 1450px;
    margin-right:20px;
    line-height: 1.45;
}
pre {
    background-color: #F5F6F7;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px){
	.main-nav ul {
		top:80px;
		position: absolute;
		right: 0;
	    left: 0;
		display: none;
		background: #003d72;
		padding: 0 40px;
	}
	button.main-nav-button{
		display: inline-block;
	}
    button.docs-nav-button{
		display: inline-block;
	}
    .l-offset-docs-nav{
        padding-top: 48px;
        padding-left: 0px;
    }
    .docs-nav {
        width: auto;
        left: 0;
        right: 0;
        bottom: auto;
    }
    .docs-nav-header{
        display: block;
    }
    .docs-menu {
        display: none;
    }
}
.ace_editor { height: 400px; }
/*

.logo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
}

*/
/*
body{
    margin:0;
    background: url('../images/gplaypattern.png');
    font-family: sans-serif;
}
header,main, footer {
    background-color: #ffffff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-right: solid #3498db 2px;
    border-left: solid #3498db 2px;
}
header{
    min-height: 101px;
    line-height: 1.0;
    border-bottom: solid 1px #3498db;
}
.logo {
    float:left;
    margin-left:10px;
    padding: 10px 0px;
}
.logo>a:link,.logo>a:visited,.logo>a:hover,.logo>a:active   {
    color: #000;
    text-decoration: none;
}

.logo_text{
    display:inline-block;
    margin-left:10px;
    vertical-align:middle;
}
.main-navigation{
        float: right;
}
.primary-menu{
    display:block;
    list-style:none;
    vertical-align:baseline;
    padding:0px;
    margin:0px
}
.primary-menu-link{
    display:inline-block;
}
.primary-menu-link a{
    display:inline-block;
    padding:35px 10px;
    font-size: 30px;
    text-decoration:none;
    color:#246A99;
}
.primary-menu-link a:hover{
    background-color: #EBF5FB;
}
footer{
    border-top:solid 1px #3498db;
    height:40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: right;
}
footer > span {
    margin-right:10px;
}
#demo
main{
    min-height: 90vh;
}
*/
