<article flex="shrink"
         class="text-content"
         style="max-width: 1200px; margin-left: auto; margin-right: auto; margin-top: 1em">

    <p>
        <strong>EclipseSource München GmbH</strong><br>
        <strong>Agnes-Pockels-Bogen 1</strong><br>
        <strong>80992 München</strong><br>
        <strong>Germany</strong>
    </p>

    <p>
        Email: munich@eclipsesource.com<br>
        Web: http://eclipsesource.com/munich<br>
        Phone: +49 89 21 555 301<br>
        Fax: +49 89 21 555 302
    </p>

    <p>
        General Managers: Dr. Jonas Helming, Dr. Maximilian Kögel<br>
        Registered Office: Agnes-Pockels-Bogen 1, 80992 München, Commercial Register München, HRB 191789<br>
    </p>

</article>