<article flex="noshrink" class="article">

    <div layout="row" layout-align="start center" class="jsonforms-background">
        <div layout-align="center center" layout="column" class="jsonforms">
            <div class="mainLogo">More Forms. Less Code.</div>
            <h4 class="tag-line">Complex AngularJS Forms in the blink of an eye</h4>
            <md-button class="md-raised md-primary"
                           ng-click="vm.scrollTo('demo')">Get Started</md-button>
        </div>
    </div>

    <div layout="row" layout-align="center">
        <div class="blue-circle">
            <md-icon md-svg-icon="puzzle" class="lg-media"></md-icon>
        </div>
        <div layout-padding layout="column" layout-align="center" flex="noshrink" style="max-width: 500px;">
            <p class="blue-text">
                Declare your forms as JSON with great tooling.
            </p>
        </div>
    </div>

    <div flex layout="row" layout-align="center">
        <div layout-padding layout="column" layout-align="center" flex="noshrink" style="max-width: 500px;">
            <p class="green-text">
                Fully-featured forms including data-binding, input validation
                and rule-based visibility out-of-the-box.
            </p>
        </div>
        <div class="green-circle">
            <md-icon md-svg-icon="gift" class="lg-media"></md-icon>
        </div>
    </div>

    <div layout="row" layout-align="center">
        <div class="red-circle">
            <md-icon md-svg-icon="screwdriver" class="lg-media"></md-icon>
        </div>
        <div layout-padding layout="column" layout-align="center" flex="noshrink" style="max-width: 500px;">
            <p layout="column" class="red-text">
                Designed for customizability from custom styling to custom widgets.
            </p>
        </div>
    </div>

    <div layout="column" layout-align="center" class="md-padding editor-demo">
        <h2 id="demo" style="text-align:center" class="editor-label">LIVE EXAMPLE</h2>
        <div layout="row">
            <div layout="column" flex layout-margin>
                <h3 class="text-center editor-label" style="font-size: 20px; font-weight:bold">JSON Schema</h3>
                <div ui-ace="vm.configAce('json')"
                     ng-model="vm.localStaticModel"
                     id="localStaticModelEditor"
                     flex="none"></div>
            </div>
            <div layout="column" flex layout-margin>
                <h3 class="text-center editor-label" style="font-size: 20px; font-weight:bold">UI Schema</h3>
                <div ui-ace="vm.configAce('json')"
                     ng-model="vm.localStaticView"
                     id="localStaticViewEditor"
                     flex="none"></div>
            </div>
        </div>

        <div layout="column" layout-align="center center">
            <div class="text-center">
                <md-button class="md-raised md-primary" ng-click="vm.reparseStatic()">Render view</md-button>
            </div>
        </div>
        <div layout="column" layout-align="center center">
            <div class="panel-body jsf">
                <jsonforms schema="vm.localStaticModelObject"
                           ui-schema="vm.localStaticViewObject"
                           data="vm.staticDataProvider.data">
                </jsonforms>
            </div>
        </div>
        <div layout="column" layout-align="center center">
            <div layout="row">
                <md-button style="background-color: #d9534f"
                           class="md-raised md-primary"
                           ui-sref="examples">More examples</md-button>
                <md-button style="background-color: #d9534f"
                           class="md-raised md-primary"
                           ng-click="vm.openEditorInNewTab()">Try in the Editor</md-button>
            </div>
        </div>
    </div>
</article>