<article flex="noshrink" class="article">

    <div layout="row" layout-align="start center" class="jsonforms-background">
        <div layout-align="center center" layout="column" class="jsonforms">
            <div class="mainLogo">More Forms. Less Code.</div>
            <h4 class="tag-line">Complex AngularJS Forms in the blink of an eye</h4>
            <md-button class="md-raised md-primary"
                       ui-sref="examples.live-edit">Live example</md-button>
        </div>
    </div>

    <div layout="row">
        <div flex-offset-gt-sm="33" flex-gt-sm="33" flex-offset="10" flex="80">
            <div flex layout="row" >
                <div layout="column" class="blue-circle">
                    <md-icon md-svg-icon="puzzle" class="lg-media"></md-icon>
                </div>
                <div layout-padding layout="column" layout-align="center" >
                    <p class="blue-text">
                        Declare your forms as JSON with great tooling based on a JSON Schema.
                    </p>
                </div>
            </div>

            <div flex layout="row"  >
                <div layout-padding layout="column" >
                    <p class="green-text">
                        Fully-featured forms including data-binding, input validation,
                        and rule-based visibility out-of-the-box.
                    </p>
                </div>
                <div class="green-circle">
                    <md-icon md-svg-icon="gift" class="lg-media"></md-icon>
                </div>
            </div>

            <div layout="row"  >
                <div class="red-circle">
                    <md-icon md-svg-icon="screwdriver" class="lg-media"></md-icon>
                </div>
                <div layout-padding layout="column" layout-align="center" >
                    <p layout="column" class="red-text">
                        Designed for customizability from custom styling to custom widgets.
                    </p>
                </div>
            </div>
        </div>
        <div flex="20" layout-margin layout-padding hide-xs hide-sm>
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/JSONForms">Tweets by JSONForms</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>

        <div layout="row" layout-align="center center">
            <div layout="column">
            <md-button style="background-color: #d9534f"
                       class="md-raised md-primary"
                       ui-sref="docs.first-steps"><strong>Get started</strong></md-button></div>
            <div layout="column">
            <md-button style="background-color: #d9534f"
                       class="md-raised md-primary"
                       ui-sref="docs.landing">Documentation</md-button></div>
        </div>
    </div>
</article>