<article flex="noshrink" class="text-content">
    <div layout="column" layout-align="start center">
        <div style="max-width:800px;" layout-margin>
            <h1>SUPPORT</h1>

            <p>
                Open-source software is free of licensing fees. Furthermore, it is easy to adapt and enhance with new features.
                Nevertheless, using open-source frameworks is not free. Like in closed-source software, not everybody is
                an expert on every framework. The total cost of ownership includes training, adoption, enhancement
                and maintenance of a framework. It might take significantly more time for somebody new to the project
                to extend a certain feature than for a person who is familiar with the framework.
                Furthermore, software has to be maintained. Even if this can be done literally by everybody for
                open-source software, a professional maintenance agreement with fixed response times is often
                mandatory in an industrial setting to ensure productivity.
                EclipseSource employs several JSONForms committers and offers training and professional support.
                This includes:
            </p>

            <h3>Evaluation</h3>
            <p>
                Let us help to decide, whether JSONForms is the right choice for you.
                We will evaluate your requirements, assess if and how they can be matched with JSONForms
                and help you estimate the integration effort
            </p>

            <h3>Prototyping</h3>
            <p>
                Let us provide you with a prototype demonstrating how JSONForms will work in your domain
            </p>

            <h3>Training</h3>
            <p>
                Let us teach you, how to apply JSONForms most efficient in your project, including related technologies such as
                Javascript and AngularJS.
            </p>

            <h3>Integration</h3>
            <p>
                Let us help you to integrate JSONForms into your existing application as efficiently as possible.
            </p>

            <h3>Support</h3>
            <p>
                Let us assist your team when solving day-to-day issues, such as technical problems or architecture decision.
            </p>

            <h3>Sponsored Development and Maintenance</h3>
            <p>
                Let us adapt and enhance the framework based on your specific requirements.
            </p>

            <h3>Contact</h3>
            <p>
                If you are interested in working with us, write us a mail via <a href="mailto:munich@eclipsesource.com">munich@eclipsesource.com</a>.
            </p>
        </div>
    </div>
</article>