
<article flex="noshrink" class="text-content">
    <div layout="row" layout-align="center">
        <div layout="column">
            <div class="support-circle">
                <md-icon md-svg-icon="puzzle" class="lg-media"></md-icon>
            </div>
            <p class="support-text">
                Declare your forms as JSON with great tooling.
            </p>
        </div>

        <div layout="column">
            <div class="support-circle">
                <md-icon md-svg-icon="puzzle" class="lg-media"></md-icon>
            </div>
            <p class="support-text">
                Declare your forms as JSON with great tooling.
            </p>
        </div>

        <div layout="column" >
            <div class="support-circle">
                <md-icon md-svg-icon="puzzle" class="lg-media"></md-icon>
            </div>
            <p class="support-text">
                Declare your forms as JSON with great tooling.
            </p>
        </div>
    </div>

    <div layout="row" layout-align="center">
        <div layout="column">
            <div class="support-circle">
                <md-icon md-svg-icon="puzzle" class="lg-media"></md-icon>
            </div>
            <p class="support-text">
                Declare your forms as JSON with great tooling.
            </p>
        </div>

        <div layout="column">
            <div class="support-circle">
                <md-icon md-svg-icon="puzzle" class="lg-media"></md-icon>
            </div>
            <p class="support-text">
                Declare your forms as JSON with great tooling.
            </p>
        </div>

        <div layout="column" >
            <div class="support-circle">
                <md-icon md-svg-icon="puzzle" class="lg-media"></md-icon>
            </div>
            <p class="support-text">
                Declare your forms as JSON with great tooling.
            </p>
        </div>
    </div>
</article>