body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.buttons {
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
  background-color: #0069ed;
  color: #ffffff;
  border: 1px solid;
  font-size: 1rem;
  line-height: 1;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0053ba;
}
button:active {
  transform: scale(0.99);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

pre {
  overflow-x: auto;
  background: #ccc;
  padding: 15px;
}

.content {
  padding: 20px;
}

.data-title {
  text-align: center;
}

.data-content {
  display: flex;
  justify-content: center;
}

.demoform {
  width: 80%;
  margin: auto;
}