body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #00021e;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.buttons {
  margin-bottom: 20px;
  text-align: center;
}

.action-button {
  margin-right: 10px;
  background-color: #0069ed;
  color: #ffffff;
  border: 1px solid;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.action-button:hover {
  background-color: #0053ba;
}
.action-button:active {
  transform: scale(0.99);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.demo {
  background: #f3f4fa;
  border-radius: 9px;
  padding: 20px;
  margin-top: 20px;
}
.demo h4 {
  text-align: center;
  margin-top: -30px;
  
}
.demo h4 span {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.demo-wrapper {
  display: flex;
}

.current {
  margin-right: 30px;
}
.current.hide {
  display: none;
}

.hljs {
  background: none;
  padding: 0 !important;
}

.content {
  padding: 0 20px 20px 20px;
}

.example-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.example-selector h4 {
  margin: 0 10px 0 0;
}

.example-selector select {
  background: #f3f4fa;
  border-radius: 9px;
  height: 30px;
  border: 0;
  padding: 0 10px;
  outline: none;
}

.toggle-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.demoform {
  width: 100%;
  margin-top: 20px;
}

.expand-hint {
  font-family: monospace;
  font-style: italic;
  text-align: right;
  padding: 10px;
  margin: 0;
}
.expand-hint:hover {
  cursor: pointer;
}

pre {
  overflow-x: auto;
  margin: 0;
}

.react-tabs {
  max-width: 400px;
  margin: 40px auto 20px auto;
  padding: 0;
  background: #f3f4fa;
  border-radius: 9px;
  display: inline-block;
}
.react-tabs__tab-list {
  list-style: none;
  display: flex;
  margin-top: -18px;
  margin-bottom: 0;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.panel-wrapper {
  max-height: 150px;
  overflow: scroll;
  margin: 0 0 20px 0;
  padding: 0 15px;
}
.panel-wrapper.full-height {
  max-height: none !important;
}
.react-tabs__tab {
  display: inline;
  background-color: #0069ed;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.react-tabs__tab:first-child {
  border-radius: 5px 0 0 5px;
}
.react-tabs__tab:last-child {
  border-radius: 0 5px 5px 0;
}
.react-tabs__tab.react-tabs__tab--selected {
  background-color: #0047a1;
}
.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  display: block;
}
