logs/*
!.gitkeep
node_modules/
app/bower_components/
app/css/jsonforms.css
app/js/jsonforms.js
app/js/jsonforms.min.js
temp/
.DS_Store
.idea
*.log
js/**/*.js
**/*.map
tests/unit-tests/reference_resolver.js
tests/unit-tests/schema_generator.js
tests/unit-tests/uischema_generator.js
tests/e2e-tests/uischema_generator.js