language: node_js

node_js:
  - "6"

install:
  - npm install
  - lerna bootstrap

script:
  - lerna run build
  - lerna run bundle
  - lerna run test-cov

after_success:
    - 'cat coverage/lcov.info | ./node_modules/.bin/coveralls'
