language: node_js

node_js:
  - "6"

before_install:
  - dpkg --compare-versions `npm -v` ge 5.8 || npm i -g npm@^5.8

install:
  - npm ci
  - lerna bootstrap --hoist --npm-ci-mode

script:
  - lerna run build
  - lerna run bundle
  - lerna run test-cov

after_success:
    - 'npm run merge-report && cat coverage/lcov.info | ./node_modules/.bin/coveralls'
