<div class="jumbotron top-buffer">
    <p class="lead">
        JSONForms eliminates the need to write HTML templates by hand
        to create customizable forms by leveraging the capabilities of JSON and <a href="http://json-schema.org/">JSON schema</a>.
    </p>
    <p>
    <ul>
        <li>Declarative Data and UI definition with JSON and JSON Schema</li>
        <li>Widgets with validation based on JSON Schema out-of-the-box</li>
        <li>Extensible and customizable UI Schema</li>
        <li>Based on web standards</li>
    </ul>
    </p>

    <p class="text-center"><a style="margin-top: 1em;" class="btn btn-lg btn-success" id="demo-btn" href="#/localdemo" role="button">Try it out now! </a></p>

    <p class="text-center" style="padding-top: 1em; color: palevioletred">
        Looking for the EMF Forms integration guide? <a href="https://github.com/eclipsesource/jsonforms/wiki/EMF-Forms-Integration-Guide">Click here</a>
    </p>
</div>
<div class="row marketing">
    <div class="col-sm-12 ">
        <div class="panel-primary panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>JSON schema & UI schema</strong></h3>
            </div>
            <div class="panel-body"  style="line-height: 2.0">
                <ul>
                    <li>Describe your data and your view by means of JSON schema and JSON</li>
                    <li>Automatic derivation of widgets</li>
                    <li>Out-of-the-box client side validation</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 text-center">
        <h3>JSON Schema</h3>
    </div>
    <div class="col-sm-6 text-center">
        <h3>UI Schema</h3>
    </div>
</div>
<div class="row marketing">
    <div class="col-sm-12">
        <div class="col-sm-6">
          <pre>{{staticDataProvider.dataSchema | json}}</pre>
        </div>
        <div class="col-sm-6">
            <pre>{{staticDataProvider.uiSchema | json}}</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <div style="font-size: 4em">&#x21d3;</div>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <h3>Rendered form</h3>
    </div>
</div>
<div class="row">
    <div class="panel-body jsf" style="line-height: 2.0">
      <jsonforms schema="staticDataProvider.dataSchema" ui-schema="staticDataProvider.uiSchema" data="staticDataProvider.data"/>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel-primary panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Extensible & Customizable</strong></h3>
            </div>
            <div class="panel-body" style="line-height: 2.0">
                <ul>
                    <li>Wide range of available layouts & widgets</li>
                    <li>Widgets and layouts can be replaced and added easily</li>
                    <li>UI schema allows for technology agnostic approach</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel-primary panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Embeddable</strong></h3>
            </div>
            <div class="panel-body" style="line-height: 2.0">
                <ul>
                    <li>Customizable REST integration</li>
                    <li>Compatible with existing frameworks like Twitter Bootstrap and AngularJS</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2" style="font-size: 1.2em; color: #e74c3c">
        If you like what you see, <a href="mailto:info@jsonforms.org">get in touch with us</a>!
        You can participate by contributing enhancements, requesting features or reporting bugs via <a href="https://github.com/eclipsesource/jsonforms/issues">the issue tracker</a>!
        If you want to get in contact with us, <a href="mailto:info@jsonforms.org">drop us a mail at info@jsonforms.org</a>.
    </div>
</div>
<br>
<div class="row" id="demo">
    <div class="col-sm-12">
        <div class="panel-primary panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Demo</strong></h3>
            </div>
            <div style="line-height: 2.0">
                <div id="demo-body">
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="localModelEditor">JSON Schema:</label>
                                <div ui-ace="{onLoad: aceLoaded}" ng-model="localModel" id="localModelEditor"></div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="localViewEditor">View:</label>
                                <div ui-ace="{onLoad: aceLoaded}" ng-model="localView" id="localViewEditor"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-5">
                                <button type="button" class="btn" ng-click="reparse()">Render view</button>
                            </div>
                        </div>
                        <div class="jsf" style="line-height: 2.0" >
                            <preview refresh="refresh"></preview>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    (function($) {
        $("#demo-btn").click(function() {
            $('html, body').animate({
                'scrollTop':   $('#demo').offset().top
            }, 700);
        });
    })(jQuery);
</script>
