<div class="jsf-control" ng-hide="vm.hide">
    <div>
        <label ng-if="vm.showLabel" for="{{vm.id}}">{{vm.label}}</label>
    </div>
    <div style="display:flex;" ng-transclude>
    </div>
    <div>
        <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" >{{alert.msg}}</alert>
    </div>
    <style>
        .form-control {
            flex: 1;
            min-width: 2em;
            min-height: 1.5em;
            padding: 0.25em 0.5em;
            border: 1px solid;
            border-color: rgb(169, 169, 169);
            box-sizing: content-box;
        }
    </style>
</div>
