.top-buffer {
    margin-top:20px;
}
.top-buffer-s {
    margin-top:10px;
}
.right-buffer {
    margin-right:20px;
}
.move-right {
    padding-left: 87%;
}
.left-buffer {
	margin-left:20px;
}
.bottom-buffer {
    margin-bottom:20px;
}
.bottom-buffer-s {
    margin-bottom:10px;
}
.debug {
    background: LightGray;
}
.rounded {
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.error {
    background: Red;
}

.fill {
	width: 100%;
}

.btn {
     border-radius: 0px;
 }

.bootstrap-qbwrapper .btn {
    border-radius: 0px;
}

.qb-form {
    background: #fffbff;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.qb-label{
  padding-left:0px;
  padding-right:0px;
  font-weight: bold;
  font-size: 1.3em;
}

.bootstrap-qbwrapper .form-control{
    border-radius: 0px;
}

.qb-control {

}

.qb-control-number {

}

.qb-control-integer {

}

.qb-control-string {

}

.qb-control-datetime {

}

.qb-control-enum {

}

.radio-inline, .checkbox{
    padding-top: 9px;
 }

fieldset.inline {
  display: inline-block;
}

fieldset.inline2 {
  float: left;
}

.normal-margin-left{
  margin-left: 0px;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }
}

#localModel {
    max-width: 100%;
    min-height: 300px;
}
#localView {
    max-width: 100%;
    min-height: 300px;
}


