<div class="container">
    <div class="row">
        <div class="col-xs-30">
            <!--Sidebar content-->

            <div class="row">
                <div class="col-xs-100">
                Search: <input ng-model="query"/>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-100">
                  <a class="btn btn-primary" href="#/{{type}}/Create">Create New</a>
                </div>
            </div>

        </div>
        <div class="col-xs-70">
            <!--Body content-->
            <ul>
                <li ng-repeat="element in elements | filter:query ">
                    <a href="#/{{type}}/{{element.id}}">{{element.id}}</a>
                </li>
            </ul>

        </div>
    </div>
</div>
