<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index">
                <span style="font-size:28px;font-weight:bold;">qb</span>project</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="download">Download</a>
                </li>
                <li>
                    <a href="learn">Getting started</a>
                </li>
                <li>
                    <a href="https://github.com/qb-project/qbproject">Github</a>
                </li>
                <li>
                    <a href="app/embed-index.html">qbForms</a>
                </li>
                <li>
                    <a href="contribute">Support</a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>