<div class="row">
    <hr>
    
    <div class="col-md-12">
      <h2><a name="qbschema">qbSchema in a nutshell</a></h2>
        
    </div>
    
    
    <div class="col-md-12">
      <h3>How it works</h3>
    </div>

    
    <div class="col-md-4">
        <ul>
            <li>Define <strong>how</strong> your data looks like</li>
        </ul>
    </div>

    <div class="col-md-8">
        <%- partial( "code/_schema")%>
    </div>


    <div class="col-md-4">
        <ul>
            <li>Based on your schema qb provides a <strong>validator</strong> as well
                as <strong>transformation facilities</strong> to update JSON instances</li>
        </ul>
    </div>

    <div class="col-md-8">
        <%- partial( "code/_extensibility")%>
    </div>


    <div class="col-md-4">
        <ul>
            <li>Modify your existing schema in order to <strong>derive new schemas</strong>.                    
            Add or remove attributes, merge schemas and much more.</li>
        </ul>
    </div>

    <div class="col-md-8">
        <%- partial( "code/_schemaOps")%>
    </div>
</div>
