<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Asynchronous Forms via Promises</strong>
    </div>
    <div class="panel-body">
        <p>Click 'Load Data' and 'Load Schema' to load the JSON schema and the UI schema asynchronously.
        Then click 'Load UI' to finally load the rendered form.</p>

        <button ng-click="vm.loadData()">Load Data</button>
        <button ng-click="vm.loadSchema()">Load Schema</button>
        <button ng-click="vm.loadUI()">Load UI</button>
        <div>
          Current Data
          <pre>{{vm.dataForTemplate}}</pre>

          Current JSON Schema
          <pre>{{vm.schemaForTemplate}}</pre>

          Current UI Schema
          <pre>{{vm.uiSchemaForTemplate}}</pre>
        </div>
        <jsonforms schema="vm.schemaAsync" uischema="vm.UIAsync" data="vm.dataAsync"></jsonforms>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Forms via functions</strong>
    </div>
    <div class="panel-body">
        Resolving via functions also works.
        <div class="panel-body">
            <jsonforms data="vm.loadDataAsyncFun" uischema="vm.loadUiSchemaAsyncFun" schema="vm.loadSchemaAsyncFun"></jsonforms>
        </div>
    </div>
</div>
