<div class="panel">
    <div class="panel-heading">
        <h3>Asynchronous Form</h3>
    </div>
    <div class="panel-body">
        <button ng-click="vm.loadData()">Load Data</button>
        <button ng-click="vm.loadSchema()">Load Schema</button>
        <button ng-click="vm.loadUI()">Load UI</button>
        <jsonforms schema="vm.schemaAsync" uischema="vm.UIAsync" data="vm.dataAsync"></jsonforms>
    </div>
    <div class="panel-body">
        <jsonforms data="vm.loadDataFunc" uischema="vm.loadUIFunc" schema="vm.loadSchemaFunc"></jsonforms>
    </div>

</div>
