<jsonforms-layout class="jsf-horizontal-layout">
    <style>
        .jsf-horizontal-layout-container{display: flex;}
        .jsf-horizontal-layout-container>div{flex:1; margin:0 0.25em;min-width: 2em;}
        .jsf-horizontal-layout-container>div:first-child{margin-left: 0}
        .jsf-horizontal-layout-container>div:last-child{margin-right: 0}
    </style>
    <div class="jsf-horizontal-layout">
        <fieldset>
            <div class="jsf-horizontal-layout-container">
                <div ng-repeat="child in vm.uiSchema.elements">
                    <jsonforms-inner ui-schema="child"></jsonforms-inner>
                </div>
            </div>
        </fieldset>
    </div>
</jsonforms-layout>
