.ace_editor { height: 200px; }

.jsf .array-submit-btn {
}
.container{
    max-width: 1200px;
    margin: auto;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.navbar{
    margin-bottom: 1.5em;
}
.navbar-inverse{
    background-color: #222;
}
.navbar-header {
    display: flex;
}
.navbar-inverse .navbar-brand {
    color: #9d9d9d;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}
.dropdown-menu{
    display: none;
    position: absolute;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-collapse ul {
    list-style-type: none;
    background-color: #222;
    padding: 0 1em;
}
.navbar-collapse li {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.navbar-collapse li a.dropdown-toggle{
    align-self: center;
}
.navbar-collapse li a{
    color: white;
    text-decoration: none;
}
.navbar-collapse li a:hover{
    color: lightgrey;
}

h1 {
}

.jsf h2 {
    color: white;
}
.jsf h3 {
    font-size: 24px;
    font-weight: 500;
}

.jsf label {
    color: white;
}
.jsf pre {
    background-color: #f5f5f5;
    padding: 0.5em;
    color: black;
}
.jsf .panel {
    margin-bottom: 1.5em;
}
.jsf .panel-body {
    padding: 0.5em;
}
.jsf .panel-heading {
    padding: 0.5em;
    display: flex;
}
body {
    background-image: url('../assets/images/bg.jpg');
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.panel > .panel-heading {
    background: #CEDB50 none;
    color: black;
}


.jsf .panel-default > .panel-heading {
    background: #337AB7 none;
    color: white;
}

.panel > .panel-body {
    background: #0C2339 none;
    color: white;
}

.panel > .panel-body button {
    color: black;
}

* {
    border-radius: 0 !important;
}

.jsf-vertical-layout > [class*="col-"] {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.jsf-group > [class*="col-"] {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.jsf-group {
    /*background-color: #161716;*/
    color: white;
    border: 0 solid #337AB7;
    padding: 0;
    background-color: #0C2339;
}

.jsf .row  {
    margin-right: -10px;
    margin-left: -10px;
}

.jsf-control {
    margin: auto;
    max-width: 30em;
}

.jsf .alert {
    padding: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: white;
    background-color: #FF263F;
}


.jsf .panel {
    border: 1px solid #337AB7;
}

.jsf-vertical-layout {
    background-color: #0C2339;
    color: white;
    padding-top: 5px;
}

.jsf-label {
    font-size: 1.25em;
    /*background-color: #6AAED8;*/
}

.accordion-group {
    background: #99B2B7 none;
    color: white;
}

.accordion-heading {
    background: #99B2B7 none;
    color: white;
}

.accordion {
    background: #99B2B7 none;
    color: white;
}

.jsf legend {
    color: white;
}

.footer {
    color: white;
}

.jsf-masterdetail{
    color: white;
}

.jsf .jsf-masterdetail .panel-body {
    padding-bottom: 0;
}
.jsf .jsf-masterdetail .panel-group {
    margin-bottom: 5px;
}

.jsf .jsf-masterdetail .jsf-masterdetail-empty .panel-body {
    padding-bottom: 0;
    padding-top: 0;
}
.jsf .jsf-masterdetail .jsf-masterdetail-empty .panel-heading + .panel-collapse .panel-body {
    border-width: 0;
}
.jsf .jsf-masterdetail .jsf-masterdetail-empty .panel-group {
    margin-bottom: 0;
    border-width: 0;
}
.jsf-masterdetail-selected {
    font-weight: bold;
    color: #CEDB50;
}
.jsf-masterdetail-property {
    font-style: italic;
}
.jsf-masterdetail-header {
    text-decoration: none;
}
.jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-entry:hover,
.jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-entry-selected{
    background-color: #2A4257;
}
.jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-entry:hover .jsf-masterdetail-entry-add:hover,
.jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-entry:hover .jsf-masterdetail-entry-remove:hover {
    background-color: #4A6277;
}
