.ace_editor { height: 200px; }

.container{
    max-width: 1200px;
    margin: auto;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.navbar{
    margin-bottom: 1.5em;
}
.navbar-inverse{
    background-color: #222;
}
.navbar-header {
    display: flex;
}
.navbar-inverse .navbar-brand {
    color: #9d9d9d;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}
.dropdown-menu{
    display: none;
    position: absolute;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-collapse ul {
    list-style-type: none;
    background-color: #222;
    padding: 0 1em;
}
.navbar-collapse li {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.navbar-collapse li a.dropdown-toggle{
    align-self: center;
}
.navbar-collapse li a{
    color: white;
    text-decoration: none;
}
.navbar-collapse li a:hover{
    color: lightgrey;
}
