

[class*='flex-'] {

  display: flex;

  --gap-s: 0.5rem;
  --gap-m: 1rem;
  --gap-l: 1.5rem;
  --gap-xl: 2rem;

  &[class*='-row-reverse'] {
    flex-direction: row-reverse;
  }
  &[class*='-column'] {
    flex-direction: column;
  }
  &[class*='-column-reverse'] {
    flex-direction: column-reverse;
  }
  &[class*='-inline'] {
    display: inline-flex;
  }
  &[class*='-nowrap'] {
    flex-wrap: nowrap;
  }
  &[class*='-wrap'] {
    flex-wrap: wrap;
  }
  &[class*='-wrap-reverse'] {
    flex-wrap: wrap-reverse;
  }
  &[class*='-justify-start'] {
    justify-content: flex-start;
  }
  &[class*='-justify-end'] {
    justify-content: flex-end;
  }
  &[class*='-justify-center'] {
    justify-content: center;
  }
  &[class*='-justify-between'] {
    justify-content: space-between;
  }
  &[class*='-justify-around'] {
    justify-content: space-around;
  }
  &[class*='-justify-evenly'] {
    justify-content: space-evenly;
  }
  &[class*='-align-items-start'] {
    align-items: flex-start;
  }
  &[class*='-align-items-end'] {
    align-items: flex-end;
  }
  &[class*='-align-items-center'] {
    align-items: center;
  }
  &[class*='-align-items-baseline'] {
    align-items: baseline;
  }
  &[class*='-align-items-stretch'] {
    align-items: stretch;
  }
  &[class*='-align-self-start'] {
    align-self: flex-start;
  }
  &[class*='-align-self-end'] {
    align-self: flex-end;
  }
  &[class*='-align-self-center'] {
    align-self: center;
  }
  &[class*='-align-self-baseline'] {
    align-self: baseline;
  }
  &[class*='-align-self-stretch'] {
    align-self: stretch;
  }
  &[class*='-aling-start'] {
    align-content: flex-start;
  }
  &[class*='-align-end'] {
    align-content: flex-end;
  }
  &[class*='-align-center'] {
    align-content: center;
  }
  &[class*='-space-between'] {
    align-content: space-between;
  }
  &[class*='-space-around'] {
    align-content: space-around;
  }
  &[class*='-align-stretch'] {
    align-content: stretch;
  }
  &[class*='-gap-s'] {
    gap: var(--gap-s);
  }
  &[class*='-gap-m'] {
    gap: var(--gap-m);
  }
  &[class*='-gap-l'] {
    gap: var(--gap-l);
  }
  &[class*='-gap-xl'] {
    gap: var(--gap-xl);
  }
}
