<div class="panel panel-default">
    <div class="panel-heading">
        <strong>JSONForms generated default schema and default forms</strong>
    </div>
    <div class="panel-body" id="example-generate">
        <p>
            JSON Forms is capable of inferring a UI schema as well as a JSON schema, if given a
            JSON instance.
            By default, it will generate a vertical layout for each property of the data instance.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Bound data</strong>
    </div>
    <div class="panel-body">
        <pre>{{vm.formattedData()}}</pre>
    </div>
</div>
<script>
  generate_schema_schema=undefined;
  generate_schema_uischema = undefined;
  generate_schema_data =
    {
      name: 'John Doe',
      age: 36
    };
  addJsonForms('example-generate', generate_schema_data, generate_schema_schema, generate_schema_uischema);
</script>
