<div ng-switch on="control.schemaType" class="form-group top-buffer">

    <label for="control.id" ng-class="control.labelclass">{{control.label}}</label>

    <div ng-class="control.inputclass">

        <div ng-switch-when='array' name="control.label">
            <div class="row">
                <div ui-grid="control.tableOptions.gridOptions"
                     ui-grid-auto-resize
                     ui-grid-pagination
                     class="grid"></div>
            </div>
        </div>

        <input ng-switch-when="string"
               type="text"
               ng-model="control.bindings[control.path]"
               id="control.id"
               class="form-control qb-control qb-control-string "
               name="control.displayname" />

        <input ng-switch-when="number"
               type="text"
               ng-model="control.bindings[control.path]"
               ui-validate="'topValidateNumber($value, control)'"
               id="control.id"
               class="form-control qb-control qb-control-number"
               name="control.displayname" />

        <input ng-switch-when="integer"
               type="text"
               ng-model="control.bindings[control.path]"
               ui-validate="'topValidateInteger($value, control)'"
               id="control.id"
               class="form-control qb-control qb-control-integer"
               name="control.displayname" />

        <div ng-switch-when="boolean"
             class="checkbox-inline"
             for="control.value">

            <input type="checkbox"
                   ng-model="control.bindings[control.path]"
                   name="control.displayname"
                   id="control.id" class="qb-control qb-control-boolean"/>&nbsp;
        </div>

        <div ng-switch-when="date-time" class="input-group">
            <input type="text"
                   datepicker-popup="dd.MM.yyyy"
                   ng-model="control.bindings[control.path]"
                   close-text="Close"
                   is-open="control.isOpen"
                   id="control.id"
                   class="form-control qb-control qb-control-datetime" n
                   ame="control.displayname" />
            <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="topOpenDate($event,control)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>

        <select ng-switch-when="enum"
                ng-model="control.bindings[control.path]"
                ng-options="option as option for option in control.options"
                id="control.id"
                class="form-control qb-control qb-control-enum"
                name="control.label"></select>

        <alert ng-repeat="alert in control.alerts"
               type="{{alert.type}}"
               class="top-buffer-s qb-alert">{{alert.msg}}</alert>
    </div>
</div>
