<recursive>

    <div ng-if="element.type=='Widget'" class="col-sm-{{element.size}} jsf-label">
        {{element.elements[0].text}}
    </div>

    <div ng-if="element.type=='Control'" class="col-sm-{{element.size}} form-group top-buffer">
        <div class="row">
            <label ng-if="element.label" for="element.id">{{element.label}}</label>
        </div>
        <div class="row" style="padding-right: 1em">
            <dynamic-widget element="element" />
        </div>
        <div class="row" style="padding-right: 1em">
            <alert ng-repeat="alert in element.alerts" type="{{alert.type}}" class="top-buffer-s jsf-alert">{{alert.msg}}</alert>
        </div>
    </div>

    <div ng-if="element.type=='Layout'" class="col-sm-{{element.size}}">
        <dynamic-widget element="element" />
    </div>

</recursive>
