footer {
  background-color: #212121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex-shrink: 0;
  min-height: 5vh;
}

.footer__version_and_copyright {
  display: flex;
  justify-content: space-around;
}

.footer__version_and_copyright_copyright {
  padding-left: 0.5em;
}

@media only screen and (max-width: 850px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .footer__version_and_copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
