
.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  flex-grow: 0;
}
hr {
  background: #dbdbdb;
}

.landing_page__features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #212121;
  padding: 15px 2em;
}

.landing_page__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing_page__detail {
  color: #9b9b9b;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0;
}

.landing_page__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.landing_page__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  flex-grow: 0;
  padding-bottom: 2em;
}
.landing_page__news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
  background: #fff;
}
.landing_page__news h2 {
  margin-bottom: 20px;
}
.news_section {
  max-width: 700px;
  margin: auto;
}

.landing_page__architecture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background: #f5f5f5;
}

.landing_page__architecture_inner {
  max-width: 1400px;
  margin-top: 2em;
}

code {
  background: #eee;
  border-radius: 5px;
  padding: 1px 3px;
  font-family: inherit;
}

.schemaLogo {
  margin-right: 15px;
  width: auto;
  height: 4em;
}

.icon {
  width: auto;
  height: 4em;
  color: #ffffff;
}

@media only screen and (max-width: 960px) {
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .landing_page__features {
    display: flex;
    flex-direction: column;
    background: #fff;
  }
  .landing_page__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .schemaLogo {
    filter: invert(1);
  }
  .shift_left { 
    padding-left: initial;
  }
  .icon {
    color: #000000;
  }
}