.jsf-array {
  padding: 1em;
}

.jsf legend {
  margin-bottom: 0.15em;
  width: inherit;
  padding: 0 10px;
  border-bottom:none;
}

.jsf fieldset {
  border: 1px solid #ccc !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}
