body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f3f4fa;
}

.header {
  background-color: #00021e;
  padding: 20px;
  color: white;
  text-align: center;
}
.header .logo {
  animation: spin infinite 20s linear;
  height: 80px;
}
.header .title {
  font-size: 1.5em;
}
.header .intro {
  font-size: large;
}

.content {
  padding: 0 20px 20px 20px;
}

.tools .example-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.tools .example-selector h4 {
  margin: 0 10px 0 0;
}
.tools .example-selector select {
  background: #fff;
  border-radius: 9px;
  height: 30px;
  border: 0;
  padding: 0 10px;
  outline: none;
}
.tools .toggle-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.tools .toggle-panel:hover {
  cursor: pointer;
}

.demo-wrapper {
  display: flex;
}
.demo-wrapper .props-panel {
  margin-right: 30px;
}
.demo-wrapper .props-panel.hide {
  display: none;
}
.demo-wrapper .props-panel .expand-hint {
  font-family: monospace;
  font-style: italic;
  text-align: right;
  padding: 10px;
  margin: 0;
}
.demo-wrapper .props-panel .expand-hint:hover {
  cursor: pointer;
}
.demo-wrapper .demoform {
  width: 100%;
  margin-top: 20px;
}
.demo-wrapper .demoform .buttons {
  margin-bottom: 20px;
  text-align: center;
}
.demo-wrapper .demoform .demo {
  background: #fff;
  border-radius: 9px;
  padding: 20px;
  margin-top: 20px;
}

.action-button {
  margin-right: 10px;
  background-color: #0069ed;
  color: #ffffff;
  border: 1px solid;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.action-button:hover {
  background-color: #0053ba;
}
.action-button:active {
  transform: scale(0.99);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hljs {
  background: none;
  padding: 0 !important;
}
.hljs pre {
  overflow-x: auto;
  margin: 0;
}

.react-tabs {
  max-width: 400px;
  margin: 40px auto 20px auto;
  padding: 0;
  background: #fff;
  border-radius: 9px;
  display: inline-block;
}
.react-tabs .react-tabs__tab-list {
  list-style: none;
  display: flex;
  margin-top: -18px;
  margin-bottom: 0;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.react-tabs .react-tabs__tab-list .react-tabs__tab {
  display: inline;
  background-color: #0069ed;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.react-tabs .react-tabs__tab-list .react-tabs__tab:first-child {
  border-radius: 5px 0 0 5px;
}
.react-tabs .react-tabs__tab-list .react-tabs__tab:last-child {
  border-radius: 0 5px 5px 0;
}
.react-tabs .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {
  background-color: #0047a1;
}
.react-tabs .panel-wrapper {
  overflow: scroll;
  padding: 0 15px;
}
.react-tabs .panel-wrapper .react-tabs__tab-panel {
  display: none;
}
.react-tabs
  .panel-wrapper
  .react-tabs__tab-panel.react-tabs__tab-panel--selected {
  display: block;
}
