<div>
    <ul>
        <li ng-repeat="(key, value) in filter(properties)" class="{{isEmptyInstance(key)?'jsf-masterdetail-empty':''}}">
            <div>
                <span class="jsf-masterdetail-property">{{key}}</span>
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': status_attribute.open,'glyphicon-chevron-right': !status_attribute.open}"
                   ng-show="!isEmptyInstance(key)">
                </i>
            </div>
            <ul ng-show="!isEmptyInstance(key)">
                <li ng-repeat="child in instance[key]" class="{{!hasKeys(value.items)?'jsf-masterdetail-empty':''}}">
                    <div>
                        <span ng-click="selectElement(child,value)" class="jsf-masterdetail-entry" ng-class="{'jsf-masterdetail-entry-selected':selectedChild==child}">
                              {{child.name!=undefined?child.name:child}}
                        </span>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': status_object.open,'glyphicon-chevron-right': !status_object.open}"
                           ng-if="hasKeys(value.items)"></i>
                    </div>
                    <jsonforms-masterdetail-member filter='filter' select='select' child-schema="value.items" child-data="child"></jsonforms-masterdetail-member>
                </li>
            </ul>
        </li>
    </ul>
    <style>
    .jsf-masterdetail ul {
        list-style-type: none;
        cursor: default;
    }
    .jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-entry,
    .jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-property{
        display: block;
    }
    .jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-entry:hover,
    .jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-entry-selected{
        background-color: lightgrey;
    }
    </style>
</div>
