<div>
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="status_attribute.open"
                         ng-repeat="(key, value) in filter(properties)"
                         class="{{isEmptyInstance(key)?'jsf-masterdetail-empty':''}}">
            <uib-accordion-heading class="jsf-masterdetail-header">
                <span class="jsf-masterdetail-property">{{key}}</span>
                <i class="pull-right glyphicon"
                   ng-class="{
                      'glyphicon-chevron-down': status_attribute.open,
                      'glyphicon-chevron-right': !status_attribute.open
                   }"
                   ng-show="!isEmptyInstance(key)">
                </i>
            </uib-accordion-heading>

            <uib-accordion close-others="false"
                       ng-show="!isEmptyInstance(key)">
                <uib-accordion-group
                    is-open="status_object.open"
                    ng-repeat="child in instance[key]"
                    class="{{!hasKeys(value.items)?'jsf-masterdetail-empty':''}}">
                    <uib-accordion-heading>
                        <span ng-click="selectElement(child,value)"
                              ng-class="{
                                 'jsf-masterdetail-selected':selectedChild==child
                              }">
                              {{child.name!=undefined?child.name:child}}
                        </span>
                        <i class="pull-right glyphicon"
                           ng-class="{
                              'glyphicon-chevron-down': status_object.open,
                              'glyphicon-chevron-right': !status_object.open
                           }"
                           ng-if="hasKeys(value.items)"></i>
                    </uib-accordion-heading>
                    <jsonforms-masterdetail-member filter='filter'
                                                   select='select'
                                                   child-schema="value.items"
                                                   child-data="child">
                    </jsonforms-masterdetail-member>
                </uib-accordion-group>
            </uib-accordion>
        </uib-accordion-group>
    </uib-accordion>
    <style>
    .jsf-masterdetail ul {
        list-style-type: none;
    }
    .jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-entry{
        display: block;
    }
    .jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-entry:hover,
    .jsf-masterdetail .jsf-masterdetail-master .jsf-masterdetail-entry.selected{
        background-color: lightgrey;
    }
    </style>
</div>
