<div>
    <ul class="jsf-masterdetail-properties">
        <li ng-repeat="(key, value) in vm.filter(vm.properties)">  <!-- ng-class="{'jsf-masterdetail-empty':isEmptyInstance(instance,key)}"-->
            <div>
                <span class="jsf-masterdetail-property">{{key}}</span>
                <i
                   ng-class="{'glyphicon-chevron-down': vm.attribute_open[$index],'glyphicon-chevron-right': !vm.attribute_open[$index]}"
                   ng-show="!vm.isEmptyInstance(vm.instance,key)" ng-click="vm.attribute_open[$index]=!vm.attribute_open[$index]">
                </i>
            </div>
            <ul ng-if="!vm.isEmptyInstance(vm.instance,key)" class="jsf-masterdetail-entries" ng-show="vm.attribute_open[$index]">
                <li ng-repeat="child in vm.instance[key]" class="{{vm.isEmptyInstance(vm.instance,key)?'jsf-masterdetail-empty':''}}">
                    <div>
                        <span ng-click="vm.selectElement(child,value)" class="jsf-masterdetail-entry" ng-class="{'jsf-masterdetail-entry-selected':vm.selectedChild===child}">
                              {{child.name!=undefined?child.name:child}}
                        </span>
                        <i
                           ng-class="{'glyphicon-chevron-down': vm.object_open[$index],'glyphicon-chevron-right': !vm.object_open[$index]}"
                           ng-if="vm.hasKeys(value.items)" ng-click="vm.object_open[$index]=!vm.object_open[$index]"></i>
                    </div>
                    <div ng-show="vm.object_open[$index]"  ng-if="vm.hasKeys(value.items)" > <!--ng-include="'masterdetail-master-template.html'"-->
                        <jsonforms-masterdetail-member child-schema="value.items" child-data="child"></jsonforms-masterdetail-member>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
