<p>The <code>uischema</code>, <code>schema</code> and <code>data</code> attributes of the <code>jsonforms</code>
    expect values that represent the UI schema, the JSON schema and the actual data to be rendered, respectively.

    But the values do not necessarily need to present when rendering is triggered. It is also possible
    to pass promises or functions returning promises to the directive.
</p>

</p>
    In the following this is demonstrated:  Click 'Load Data' and 'Load Schema' to load the JSON schema and
    the UI schema asynchronously. Then click 'Load UI' to finally load the rendered form.
</p>

<md-button class="md-raised" ng-click="vm.loadData()">Load Data</md-button>
<md-button class="md-raised" ng-click="vm.loadSchema()">Load Schema</md-button>
<md-button class="md-raised" ng-click="vm.loadUI()">Load UI</md-button>

<div class="example">
    <div ng-hide="vm.loaded()" class="md-body-2">Here goes our placeholder for the yet to be loaded form!</div>
    <jsonforms schema="vm.schemaAsync" uischema="vm.UIAsync" data="vm.dataAsync"></jsonforms>
</div>

