<nav class="docs-nav l-pinned-left l-offset-nav">
    <header class="docs-nav-header">
        <md-button ng-click="toggleDocsMenu($event)" class="docs-nav-button">
            Docs Menu
            <span class="icon icon-arrow-drop-down"></span>
        </md-button>
    </header>
    <ul class="docs-menu" layout="column" ng-class="showDocsNav? 'is-visible':''">
        <li class="docs-menu-link"><a ui-sref="examples.person" ng-click="hideDocsMenu($event)">Person schema</a></li>
        <li class="docs-menu-link"><a ui-sref="examples.async" ng-click="hideDocsMenu($event)">Asynchronous schema</a></li>
        <li class="docs-menu-link"><a ui-sref="examples.remote-ref" ng-click="hideDocsMenu($event)">Remote references</a></li>
        <li class="docs-menu-link"><a ui-sref="examples.arrays" ng-click="hideDocsMenu($event)">Array control</a></li>
        <li class="docs-menu-link"><a ui-sref="examples.categories" ng-click="hideDocsMenu($event)">Categories control</a></li>
        <li class="docs-menu-link"><a ui-sref="examples.masterdetail" ng-click="hideDocsMenu($event)">Master Detail control</a></li>
        <li class="docs-menu-link"><a ui-sref="examples.rule" ng-click="hideDocsMenu($event)">Rule</a></li>
        <li class="docs-menu-link"><a ui-sref="examples.live-edit" ng-click="hideDocsMenu($event)">Live edit</a></li>
        <li class="docs-menu-link"><a ui-sref="examples.generate-schema" ng-click="hideDocsMenu($event)">Infer UI and schema</a></li>
        <li class="docs-menu-link"><a ui-sref="examples.generate-ui" ng-click="hideDocsMenu($event)">Infer UI</a></li>
        <li class="docs-menu-link"><a ui-sref="examples.custom-control" ng-click="hideDocsMenu($event)">Custom control</a></li>
    </ul>
</nav>
