<p>
    This example shows default renderer for different layouts.
</p>
<p>
    VerticalLayout:
</p>
<div class="example">
    <listing-control schema="vm.schema" uischema="vm.uiSchemaVertical" data="vm.data"></listing-control>
</div>
<p>
    HorizontalLayout:
</p>
<div class="example">
    <listing-control schema="vm.schema" uischema="vm.uiSchemaHorizontal" data="vm.data"></listing-control>
</div>
<p>
    Group:
</p>
<div class="example">
    <listing-control schema="vm.schema" uischema="vm.uiSchemaGroup" data="vm.data"></listing-control>
</div>
<p>
    Complex example:
</p>
<div class="example">
    <listing-control schema="vm.schema" uischema="vm.uiSchemaComplex" data="vm.data"></listing-control>
</div>