<p>
    This example shows the available renderers for different layouts.
</p>
<p>
    <strong>VerticalLayout</strong>
    <br>
    This lays out all elements under each other.
</p>
<div class="example">
    <listing-control schema="vm.schema" uischema="vm.uiSchemaVertical" data="vm.data"></listing-control>
</div>
<p>
    <strong>HorizontalLayout</strong>
    <br>
    This lays out all elements next to each other.
</p>
<div class="example">
    <listing-control schema="vm.schema" uischema="vm.uiSchemaHorizontal" data="vm.data"></listing-control>
</div>
<p>
    <strong>Group</strong>
    <br>
    A group behaves like a VerticalLayout with a custom heading.
</p>
<div class="example">
    <listing-control schema="vm.schema" uischema="vm.uiSchemaGroup" data="vm.data"></listing-control>
</div>
<p>
    <strong>Complex example</strong>
    <br>
    This example consists of a Group (green) which contains a HorizontalLayout (red), which contains two VerticalLayout (blue).
    Each of the VerticalLayouts contains two controls.
</p>
<div class="example complex">
    <listing-control schema="vm.schema" uischema="vm.uiSchemaComplex" data="vm.data"></listing-control>
</div>
