name: CI

on: [push, pull_request]

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    name: Run on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: pnpm/action-setup@v2.2.4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Build
        run: |
          pnpm i --frozen-lockfile
          pnpm run build
          pnpm run doc
          pnpm run bundle

      - name: Lint
        if: matrix.os == 'ubuntu-latest'
        run: pnpm run lint

      - name: Test
        if: matrix.os == 'windows-latest' || matrix.os == 'macos-latest'
        run: |
          set NODE_OPTIONS=--max_old_space_size=4096
          pnpm run test

      - name: Test & Coverage
        if: matrix.os == 'ubuntu-latest'
        run: |
          export NODE_OPTIONS=--max_old_space_size=4096
          pnpm run test-cov
          pnpm run check-format
          pnpm run merge-report && cat coverage/lcov.info

      - name: Upload Coveralls Report
        if: success() && matrix.os == 'ubuntu-latest'
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          debug: true
